#container-footer {
  padding: 0 10px;
  margin-bottom: 60px;
  overflow: hidden;
}

#footer {
  background: rgb(26, 26, 26);
  padding: 20px 0;
  overflow: hidden;
}

button:focus {
  outline: none;
}

div {
  display: block;
}

#copyright {
  text-align: center;
  text-transform: uppercase;
}
