.intro {
  font-family: 'Audiowide', cursive;
  font-weight: 700;
  font-size: 6em;
  background: rgb(26, 26, 26);
  line-height: 0.8em;
  padding: 60px 170px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: -2px;
}

.name {
  color: rgb(0, 203, 203);
}

.title {
  color: rgb(255, 255, 255);
}

.location {
  color: rgb(70, 70, 70);
}
