/*CSS Reset Section*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  background: transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 12px;
}

canvas {
  top: 0px;
  left: 0px;
}

/*Main CSS*/
body {
  margin: 0;
	padding: 0;
	padding-top:24px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(126, 126, 126);
  background: rgb(26, 26, 26) url('../images/nyc.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

/* webkit, opera, IE9 */
::selection {
  background: rgb(26,23,27);
	color: white; }
/* mozilla firefox */
::-moz-selection {
  background: white;
	color: rgb(0, 203, 203);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
	margin: 0 auto;
  width: 960px;
}

#container-wrapper {
  padding: 0 10px;
  position: relative;
}

/*Skills Banner*/
#skills {
  width: 100%;
  margin-bottom: 20px;
  background: rgb(26, 26, 26);
}

#skills img {
  max-width: 100%;
}

div {
  display: block;
}

/*Contact page*/


.clear {
  clear:both
}

@media (min-width: 1280px) {
  #page {
    width: 1200px;
  }
}
